/*!
 */

body {
  /*background-color: #f0f0f0;*/
  padding-top: 180px;
  padding-bottom: 70px;
}

header {
  border: 1px dashed red;
  background-color: lightgreen;
  padding: 20px;
}

.navbar {
  margin-top: 140px;
}

main {
  border: 1px dashed green;
  padding: 20px;
}

.news_box {
  padding: 10px;
  border: 1px solid #f2f2f2;
  margin: 10px 0px;
}

.events_box {
  padding: 10px;
  border: 1px solid #f2f2f2;
  margin: 10px 0px;
}

.footer {
  border: 1px dashed blue;
  background-color: lightgreen;
  padding: 20px;
}
